# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Packaging
build/
dist/
*.egg-info/

# Environment
.env
.data/

# Editor
.idea/
.vscode/
.DS_Store
